#advanced-search-btn{
  color: #ffffff;
  font-size: small;
  font-style: oblique;
  text-decoration: none;
}


#advanced-search-dropdown {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #c8c8c8;
  border: 3px solid #414141;
  border-radius: 0.25rem;
  min-width: 200px;
  max-height: 300px;
  overflow-y: auto;

}

#advanced-search-dropdown.show {
  display: block;
}

#advanced-search-dropdown select:hover {
  cursor: pointer;
}


#buscar-btn {
  background-color: #ffffff;
  color: #000000;
  float: right;
  margin-top: 16px;
}

#buscar-btn:hover{
  background-color: #dddddd;
  color: #c70000;
  float: right;
  margin-top: 16px;
}

@media (max-width: 767.98px) {
  #advanced-search-dropdown {
    position: static;
    width: 45%;
    margin-top: 0.5rem;
  }
}
