#login-dropdown {
    background-color: #c8c8c8;
    border: 3px solid #414141;
    font: bold;
}


#btn-registro {
    background-color: rgb(13, 114, 222);
    color: white;
}

#btn-registro:hover {
    background-color: rgb(8, 80, 156);
    color: white;
}

.form-control {
    width: auto;
}



#login-dropdown form {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-dropdown .d-flex {
    width: 67%;
    font: bold;
}


#login-dropdown .form-group {
    margin-right: auto;
    margin-left: auto;
}

#login-dropdown button {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#login-dropdown .text-center {
    margin-top: 15px;
}

.form-group {
    width: 100%;
}

button.btn.btn-primary.btn-block {
    margin-top: 20px;
}

.text-center>span {
    display: block;
}
