footer {
    background-color: #ababab;
    background-image: linear-gradient(to bottom, #ababab 10%, #3f3f3f 20%);
    color: #fff;
    padding: 50px 0;
    background-blend-mode: multiply;
  }
  
  .footer-logo img {
    max-height: 40px;
     width: 200px;
     height: 200px;
  }
  
  .footer-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-nav a {
    color: #fff;
    text-decoration: overline gray;
    white-space: nowrap;
  }

  .footer-nav a i {
    margin-right: 10%;
  }
  
  .footer-info {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-contact {
    text-align: right;
  }
  .footer-contact h2{
    text-align: right;
  }
  
  .footer-contact a {
    color: #fff;
    margin-left: 10px;
    font-size: xx-large;
  }
  
  .fa-facebook:before {
    content: "\f09a";
  }
  
  .fa-envelope:before {
    content: "\f0e0";
  }
  
  .fa-share:before {
    content: "\f1e0";
  }
  
  .fa-address-book:before {
    content: "\f2b9";
  }

  footer .col-md-4:not(:last-child) {
    border-right: 1px solid #888;
    padding-right: 40px;
  }
  

  